<!DOCTYPE html>
<html>
	<html>
	<head>
		<title>Inscripciones</title>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

		<script src='js/jquery.min.js'></script>
		<script src="lib/dataTable.min.js"></script>
		<script src="js/angular.js"></script>
		<script src="js/angular-resource.js"></script>
		<script src='js/underscore.min.js'></script>
		<script src="lib/bootstrap/js/bootstrap.min.js"></script>
		
		<script src="lib/dataTable-bootstrap.min.js"></script>
		<script src="lib/angular-datatables.min.js"></script>

		
		<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		
		<link href="lib/dataTable.css" rel="stylesheet">
		
		<link href='styles.css' rel='stylesheet' media='screen' />
	</head>
	<body ng-app='Inscripciones'>
		<div id='controller' class='container-fluid' ng-controller='onePageController as onePage'>
			<div class="row-fluid">
				<button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-med" id='acreditar' ng-disabled='!onePage.personaIsSelected()' ng-click='onePage.modificarPersona()'>
			  		<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Modificar/Acreditar
				</button>
				<!-- Button trigger modal -->
				<button type="button" id='abrirAgregar' class="btn btn-success btn-med" data-toggle="modal" data-target="#myModal" ng-click='onePage.crearNuevaPersona()'>
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				  Agregar
				</button>
				<h2 id='acreditadosTotal'>Acreditados: {{onePage.totalAcreditados}} de {{onePage.totalInscriptos}}</h2>
			</div>
			<div class='row-fluid'>
				<table datatable="ng" dt-options="onePage.dtOptions" dt-column-defs="onePage.dtColumnDefs" class="table table-striped table-bordered dataTable no-footer">
			        <thead>
			        <tr>
			            <th>Documento</th>
			            <th>Salutacion</th>
			            <th>Apellido</th>
			            <th>Nombre</th>
			            <th>Lugar</th>
			            <th>Telefono</th>
			            <th>Dni Responsable</th>
			            <th>Acreditado</th>
			        </tr>
			        </thead>
			        <tbody>
			        <tr ng-repeat="person in onePage.persons">
			            <td>{{ person.Documento }}</td>
			            <td>{{ person.Salutation }}</td>
			            <td>{{ person.LastName }}</td>
			            <td>{{ person.FirstName }}</td>
			            <td>{{ person.City }}</td>
			            <td>{{ person.Phone }}</td>
			            <td>{{ person.DocResponsable }}</td>
			            <td>{{ person.Acreditado }}</td>
			        </tr>
			        </tbody>
			    </table>
		    </div> <!--row -->
		    <div class='row-fluid'>				
				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard='false'>
			  		<div class="modal-dialog" role="document">
				    	<div class="modal-content">
				      		<div class="modal-header">
				        		<h4 class="modal-title" id="myModalLabel">Persona <span ng-if='onePage.pulseraEspecial()' class="pull-right label label-danger">Pulsera Especial</span></h4>
				      		</div>
					      	<div class="modal-body">
					  			<form name='onePage.agregarForm' class="form-horizontal">
					  				<div class="form-group">
					  				<label for="salut" class="col-sm-2 control-label">Salutacion:</label>
    									<div class="col-sm-10">
						  					<select id='salut' ng-model='onePage.persona.salutacion' class="form-control">
												<option>Sr</option>
												<option>Sra</option>
												<option>Pastor</option>
												<option>Pastora</option>
												<option>Especial</option>
											</select>
										</div>
					  				</div>
					  				<div class="form-group">
								    	<label for="documento" class="col-sm-2 control-label">Documento:</label>
								    	<div class="col-sm-10">
								    		<input type="text" class="form-control" ng-model='onePage.persona.documento' required documento-existente-validator id="documento" name='documento' placeholder="Documento" ng-model-options="{ updateOn: 'blur' }" ng-disabled='onePage.modificar'>
							    		</div>
								  	</div>
							  		<div class="form-group">
								    	<label for="firstName" class="col-sm-2 control-label">Nombre:</label>
							    		<div class="col-sm-10">
								    		<input type="text" class="form-control" ng-model='onePage.persona.nombre' id="firstName" placeholder="Nombre">
							    		</div>
								  	</div>
								  	<div class="form-group">
								    	<label for="lastName" class="col-sm-2 control-label">Apellido:</label>
								    	<div class="col-sm-10">
								    		<input type="text" ng-model='onePage.persona.apellido' class="form-control" id="lastName" placeholder="Apellido">
							    		</div>
								  	</div>
								  	<div class="form-group">
								    	<label for="place" class="col-sm-2 control-label">Lugar:</label>
								    	<div class="col-sm-10">
								    		<input type="text" ng-model='onePage.persona.lugar' class="form-control" id="place" placeholder="Lugar">
							    		</div>
								  	</div>
								  	<div class="form-group">
    									<div class="col-sm-offset-2 col-sm-10">
										  	<div class="checkbox">
										    	<label>
										      		<input type="checkbox" ng-model='onePage.persona.isKid'> Tiene alguien que lo cuide?
										      		<p class="help-block">Seleccionar solo si es menor de 13 años</p>
										    	</label>
										  	</div>
									  	</div>
								  	</div>
								  	<div ng-show='onePage.persona.isKid' class="form-group">
								  		<label for="docResponsable" class="col-sm-4 control-label">Dni del responsable:</label>
								  		<div class="col-sm-3">
								    		<input type="text" ng-model='onePage.persona.docResponsable' class="form-control" id="docResponsable" placeholder="Dni del responsable" ng-change='onePage.buscarDoc()'>
							    		</div>
							    		<label for="phone" class="col-sm-2 control-label">Telefono:</label>
								    	<div class="col-sm-3">
								    		<input type="text" class="form-control" ng-model='onePage.persona.telefono' name='phone' id="phone" placeholder="Telefono">
							    		</div>
							    	</div>
							    	<div ng-show='onePage.persona.isKid' class="form-group">
							    		<div class="alert alert-info text-center" role="alert" ng-if='onePage.mostrarResponsable'>
							    			El responsable del menor sera: <strong>{{onePage.persona.responsable}}</strong>
							    		</div>
							    	</div>
							    	<div class="alert alert-danger text-center" role="alert" ng-if='onePage.errors'>{{onePage.errors}}</div>
								</form>
					      	</div>
					      	<div class="modal-footer">
								<button type="button" id='cancelar' class="btn btn-default" data-dismiss="modal" ng-click='onePage.cancelar()'>Cancelar</button>
								<button type="button" id='guardar' ng-if='onePage.modificar' class="btn btn-warning" data-dismiss="modal" ng-disabled='!onePage.isValid()' ng-click='onePage.guardar()'>
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Modificar</button>
								<button type="button" id='agregarNuevo' ng-if='!onePage.modificar' class="btn btn-warning" data-dismiss="modal" ng-disabled='!onePage.isValid()' ng-click='onePage.guardar(true, "No")'>
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar</button>
								<button type="button" id='agregar' class="btn btn-primary" data-dismiss="modal" ng-disabled='!onePage.isValid()' ng-click='onePage.guardar(!onePage.modificar, "Si")'>
								<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></span> Acreditar</button>
								<button type="button" class="btn btn-success" ng-disabled='!onePage.isValid()' ng-if='!onePage.modificar' ng-click='onePage.guardar(!onePage.modificar, "Si"); onePage.persona = onePage.limpiarDatos()'>
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								Acreditar y Agregar nuevo</button>
					      	</div>
				    	</div>
		  			</div>
				</div> <!-- Modal -->
			</div> <!--row -->
		</div> <!--Controller -->
	</body>

	<script src='app.js' type='text/javascript'></script>
</html>
